<h1 mat-dialog-title>Create Application</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="flex-col w-64 m-auto pt-10">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter application name"
          formControlName="name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Protocol</mat-label>
        <input
          matInput
          placeholder="Enter protocol"
          formControlName="protocol"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Port</mat-label>
        <input
          matInput
          placeholder="Enter port number"
          formControlName="port"
        />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Create</button>
</div>
