<div class="wrapper">
  <div class="text-2xl mb-10">Network Access Policy</div>
  <div class="create-button flex flex-row gap-2">
    <button mat-flat-button color="primary" (click)="openCreatePolicyDialog()">
      Create new policy...
    </button>
    <button mat-flat-button color="primary" (click)="openCreateApplicationDialog()">
      Create new application...
    </button>
  </div>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Instance Groups">
      <app-instance-groups></app-instance-groups>
    </mat-tab>
    <mat-tab label="Instances">
      <app-instances></app-instances>
    </mat-tab>
    <mat-tab label="Services">
      <app-services></app-services>
    </mat-tab>
    <mat-tab label="Service Access Policy">
      <app-policies></app-policies>
    </mat-tab>
  </mat-tab-group>
</div>

<!--
<app-create-application-dialog></app-create-application-dialog>
-->